.login-body {
  background: url(https://studentportal.codeyoung.com/static/media/student-portal-login-email-min.87f4f36e.svg);
  background-size: cover;
  background-attachment: scroll;
  width: 100%;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.login-body-header {
  padding-top: 320px;
  text-align: center;
  color: black;
  font-size: 24px;
}

$primary: black;
$secondary: black;
$white: #fff;
$gray: #9b9b9b;
.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 40%;
  margin: 20px auto;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 1px solid $gray;
  outline: 0;
  font-size: 1.3rem;
  color: black;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .form__label {
    font-size: 15px;
    cursor: text;
    top: 20px;
  }
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: $gray;
}

.form__field:focus {
  ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: $primary;
  }
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 2px;
  border-image: linear-gradient(to right, $primary, $secondary);
  border-image-slice: 1;
}
/* reset input */
.form__field {
  &:required,
  &:invalid {
    box-shadow: none;
  }
}

.login-body-btn{
    margin: 20px 0px;
    background-color: #FF712D;
    color: white;
    padding: 10px 30px;
    border-radius: 5px;
    font-size: 15px;
}
.login-body-content{
    background-color: #FFE9AE;
    padding: 10px 15px;
    font-size: 15px;
    border-radius: 5px;
    color: black;
    margin: 20px 0px;
}

.login-page-logo{
    margin: 20px 0px ;
}

.login-body-content-2{
    color: black;
    font-size: 25px;
    width: 40%;
    line-height: 1.5;
    margin: auto;
    text-align: center;
}