.login-body{
    background: url(https://studentportal.codeyoung.com/static/media/student-portal-login-email-min.87f4f36e.svg);
    background-size: cover;
    background-attachment: scroll;
    width: 100%;
    color: #fff;
}
.login-body-header{
    padding-top: 320px;
    text-align: center;
    color: black;
    font-size: 24px;
}